.page{
  position: relative; 
  /* height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; */
  /* background-image: url('../images/bg2.png'); */

 
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg3.jpg');
  opacity: 0.3; /* Adjust the opacity value as needed */
}
/* .page::before{ */
  /* width: 100%; */
    /* background-image: url('../images/bg1.jpg'); */
    /* background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75; */
  
/* } */
.contact
{
    padding-top: 4px;
    /* background-image: url('images/form_background.jpg') center center no-repeat; */
    /* background-image: url('../images/bg1.jpg') center center no-repeat !important; */
    /* position: relative; */
    border-radius: 0.3rem;
    width: 700px;
    height: 100%;  
    padding: 40px;
    color: rgb(75, 75, 75);
    border: 1px solid  #4D869C;
    margin: auto;
    text-align: left;
    position: relative;
    z-index: 1;
}
.contact p{
    color: #333;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  line-height: 24px;
}
.contact input[type=radio] {
    /* display: none; */
  }
.contact input[type=radio]:checked + label  {
    background: #413e3e !important;
    color: #FAFAFA !important;
  }
  .contact label {
    display: inline-block;
    margin: 4px;
    margin-left: 15px !important;
    padding: 8px;
    background:#7AB2B2 ;
    color:#333;
    min-width: 290px;
    cursor: pointer;
  }
  
  .contact label:hover {
    /* background: #BACD92; */
    background: #D1BB9E;
  }

  .contact select{
    margin-left: 15px;
    background:#EAE0DA ;
    color:#333;
    cursor: pointer!important;
  }
  .contact img{
    margin-left: 15px;
    margin-bottom: 20px;
    width: 50%;
    height: 50%;
  }
 .center{
  text-align: center !important;
  justify-content: center;
  margin: 0 auto !important;
 }
 /* .result {
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
} */
#quiz-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* position: absolute; */
  top: 44px;
  left: 0px;
  background: #FAFAFA;
  width: 100%;
  height: calc(100% - 44px);
}

#quiz-results-message {
  display: block;
  color: #0b0c0c;
  font-size: 20px;
  font-weight: bold;
}

#quiz-results-score {
  display: block;
  color: #0e0f0f;
  font-size: 20px;
}

#quiz-form{
  opacity: 1;
}
